.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* #canvas { */
/*     width: 80%; */
/*     height: 75vh; */
/*     margin-left: 10%; */
/* } */

/* #board { */
/*     /\* border: 8px solid #bd6604; *\/ */
/*     /\* background: #eeb16b; *\/ */
/*     width: 75%; */
/* } */

/* #rightCol { */
/*     float: right; */
/*     width: 20%; */
/* } */

/* #moveList { */
/* } */

/* #moveList table { */
/*     border-collapse: collapse; */
/*     border: 1px dotted black; */
/*     cursor: pointer; */
/* } */

/* #moveList tr { */
/*     border: 1px dotted lightgrey; */
/* } */

/* #moveList tbody tr:hover { */
/*     background-color: lightblue; */
/* } */

/* #moveList td, */
/* #moveList th */
/* { */
/*     padding: 0.5rem; */
/* } */

/* .comment-box { */
/*     display: block; */
/*     min-height: 4em; */
/*     border: 1px solid black; */
/*     margin: 0.5em 0; */
/* } */

/* /\* svg { *\/ */
/* /\*     border: 1px solid red; *\/ */
/* /\* } *\/ */
